#e-comments {
	font-family: Roboto, sans-serif;
	border-radius: 5px;
	width: 240px;
	min-height: 382px;
	background-color: #fff;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
	user-select: none;
	overflow: hidden;
	z-index: 2;

	&__header {
		align-items: center;
		justify-content: space-between;
		padding: 12px 10px;
		background-color: #fff;
		border-bottom: 1px solid $gray-bg;
		cursor: move;
		text-align: center;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 15px;
		cursor: pointer;
	}

	&__elements {
		height: 277px;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $editor-lighter;
			border-radius: 10px;
		}
	}

	&__add-comment {
		background-color: $editor-kit-accent;
		color: #ffffff;
		padding: 4px 10px;
		border-radius: 4px;
	}

	&__footer {
		width: 100%;
		text-align: center;
		background-color: #fff;
		border-top: 1px solid $gray-bg;
		color: $editor-light;
		display: flex;
		justify-content: space-between;
		padding: 8px;

		&-icons {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 38%;

			img,
			i {
				width: 16px;
				color: #606060;
				font-size: 14px;
			}
		}

		&-bottom {
			text-align: center;
			border-top: 1px solid $gray-bg;
			color: $editor-light;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	&__no-comments {
		background-color: $gray-bg;

		&-icon {
			width: 32px;
		}

		&-title {
			font-weight: bold;
			font-size: 16px;
		}

		&-message {

			img {
				width: 16px;
				vertical-align: bottom;
			}
		}
	}

	&__empty {
		padding: 40px 30px;
		text-align: center;
		background-color: $gray-bg;
	}
}

.e-comments {

	&__comment {

		&-item {
			display: flex;
			padding: 8px;

			&:hover {
				background-color: #F1F1F1;
			}

			&-id {
				width: 16px;
				height: 22px;
				margin: 4px 10px 4px 4px;
				font-size: 8px;
				text-align: center;
				padding-top: 3px;
			}
		}

		&-author {
			padding-right: 12px;
		}

		&-author,
		&-date,
		&-num-replies {
			color: #9D9D9D;
		}

		&-author,
		&-date {
			display: inline-block;
			margin-bottom: 4px;
		}

		&-excerpt,
		&-num-replies {
			display: block;

			&:first-child {
				margin-bottom: 4px;
			}
		}
	}
}

.e-comments-pin-cursor {
	cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNCIgaGVpZ2h0PSI0MiIgZmlsbD0ibm9uZSI+PGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZCkiPjxtYXNrIGlkPSJhIiB3aWR0aD0iMjciIGhlaWdodD0iMzQiIHg9IjMuNSIgeT0iMy41IiBmaWxsPSIjMDAwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMy41IDMuNWgyN3YzNGgtMjd6Ii8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjQuMzk1IDI3LjA3OUExMi40ODMgMTIuNDgzIDAgMDAyOS41IDE3YzAtNi45MDQtNS41OTYtMTIuNS0xMi41LTEyLjVTNC41IDEwLjA5NiA0LjUgMTdjMCA0LjEzNyAyLjAxIDcuODA0IDUuMTA1IDEwLjA3OSAyLjM1MyAxLjc3MyA1LjY2OSA0LjU3IDYuNDMxIDkuMDcuMDguNDc3LjQ4Ljg0Ny45NjQuODQ3cy44ODMtLjM3Ljk2NC0uODQ3Yy43NjItNC41IDQuMDc4LTcuMjk3IDYuNDMxLTkuMDd6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L21hc2s+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjQuMzk1IDI3LjA3OUExMi40ODMgMTIuNDgzIDAgMDAyOS41IDE3YzAtNi45MDQtNS41OTYtMTIuNS0xMi41LTEyLjVTNC41IDEwLjA5NiA0LjUgMTdjMCA0LjEzNyAyLjAxIDcuODA0IDUuMTA1IDEwLjA3OSAyLjM1MyAxLjc3MyA1LjY2OSA0LjU3IDYuNDMxIDkuMDcuMDguNDc3LjQ4Ljg0Ny45NjQuODQ3cy44ODMtLjM3Ljk2NC0uODQ3Yy43NjItNC41IDQuMDc4LTcuMjk3IDYuNDMxLTkuMDd6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBmaWxsPSIjNjI2MjYyIiBkPSJNMjQuMzk1IDI3LjA3OWwtLjIzNy0uMzIyLS4wMDQuMDAyLjI0MS4zMnptLTE0Ljc5IDBsLjI0LS4zMi0uMDAzLS4wMDItLjIzNy4zMjJ6bTYuNDMxIDkuMDdsLS4zOTQuMDY3LjM5NC0uMDY3em0xLjkyOCAwbC4zOTQuMDY3LS4zOTQtLjA2N3ptNi42NjgtOC43NDhBMTIuODgzIDEyLjg4MyAwIDAwMjkuOSAxN2gtLjhjMCA0LjAwNC0xLjk0NCA3LjU1NC00Ljk0MiA5Ljc1N2wuNDc0LjY0NHpNMjkuOSAxN2MwLTcuMTI0LTUuNzc1LTEyLjktMTIuOS0xMi45di44YzYuNjgzIDAgMTIuMSA1LjQxNyAxMi4xIDEyLjFoLjh6TTE3IDQuMUM5Ljg3NiA0LjEgNC4xIDkuODc2IDQuMSAxN2guOGMwLTYuNjgzIDUuNDE3LTEyLjEgMTIuMS0xMi4xdi0uOHpNNC4xIDE3YzAgNC4yNyAyLjA3NCA4LjA1NCA1LjI2OCAxMC40MDFsLjQ3NC0uNjQ0QTEyLjA4MyAxMi4wODMgMCAwMTQuOSAxN2gtLjh6bTEyLjMzIDE5LjA4M2MtLjc5LTQuNjY4LTQuMjI2LTcuNTQ3LTYuNTg0LTkuMzIzbC0uNDgyLjYzOGMyLjM0NyAxLjc2OSA1LjU0MyA0LjQ4MyA2LjI3OCA4LjgxOGwuNzg4LS4xMzN6bS41Ny41MTNjLS4yNyAwLS41MTgtLjIxLS41Ny0uNTEzbC0uNzg4LjEzM2MuMTEuNjUuNjYgMS4xOCAxLjM1OCAxLjE4di0uOHptLjU3LS41MTNjLS4wNTIuMzAzLS4zLjUxMy0uNTcuNTEzdi44Yy42OTcgMCAxLjI0OC0uNTMgMS4zNTgtMS4xOGwtLjc4OC0uMTMzem02LjU4NC05LjMyM2MtMi4zNTggMS43NzYtNS43OTQgNC42NTUtNi41ODQgOS4zMjNsLjc4OC4xMzNjLjczNS00LjMzNSAzLjkzLTcuMDUgNi4yNzgtOC44MThsLS40ODItLjYzOXoiIG1hc2s9InVybCgjYSkiLz48L2c+PGNpcmNsZSBjeD0iMTciIGN5PSIxNyIgcj0iNSIgZmlsbD0iIzcxNzE3MSIvPjxkZWZzPjxmaWx0ZXIgaWQ9ImZpbHRlcjBfZCIgd2lkdGg9IjM4IiBoZWlnaHQ9IjQ4IiB4PSItMiIgeT0iLTIiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VBbHBoYSIgdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAxMjcgMCIvPjxmZU9mZnNldC8+PGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMiIvPjxmZUNvbG9yTWF0cml4IHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4xNSAwIi8+PGZlQmxlbmQgaW4yPSJCYWNrZ3JvdW5kSW1hZ2VGaXgiIHJlc3VsdD0iZWZmZWN0MV9kcm9wU2hhZG93Ii8+PGZlQmxlbmQgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iZWZmZWN0MV9kcm9wU2hhZG93IiByZXN1bHQ9InNoYXBlIi8+PC9maWx0ZXI+PC9kZWZzPjwvc3ZnPg=='), auto !important;
}

.comment-icon {

	svg {
		cursor: pointer;
	}
}

