.comment-icon {
	width: 10px;
	height: 10px;
}

.comment-icon-wrapper {
	position: absolute;
	right: 0;
	top: 0;

}

.comment-modal {
	font-size: 13px;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
	padding: 12px;
	background: white;
	margin-top: 20px;
	border: 1px solid #A4AFB7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	border: 1px solid #A4AFB7;
}
button.comment-modal-cancel {
    background: #fff;
    color: #2F2F2F;
    border: 1px solid #A4AFB7;
	padding: 2px 20px;
	font-size: 13px;
}

button.comment-modal-submit {
    background: #4AB7F4;
    border: 1px solid #4AB7F4;
    color: #fff;
	padding: 2px 20px;
	margin-left: 5px;
	font-size: 13px;
}

div#comment-box-left {
    text-align: left;
	display: inline-block;
}

input.comment-modal-input {
    margin-bottom: 10px;
}

button.comment-modal-submit:hover {
    background: #2496d5;
    border-color: #2496d5;
}

button.comment-modal-cancel:hover {
    background: #f8f8f8;
}

#comment-open svg {
    margin-right: 5px;
}

.comment-modal input::placeholder {
	font-size: 13px;
}
.comment-modal input {
    border: 1px solid #A4AFB7;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6px;
}

.comment-wrapper:first-child {
	border-bottom: 1px solid #e6e6e6;
}

.comment-wrapper:not(:first-child) {
	padding-top: 10px;
}

.comment-header-name-date {
	margin-left: 10px;
}

.comment-header-right {
	font-size: 20px;
	color: #808080;
}

.eicon-check {
	margin-right: 6px;
}

.comment-author {
	color: #282828;
	font-size: 14px;
	font-weight: 500;
}

#comment-box-right {
	text-align: right;
	padding-top: 10px;
}

.comment-date {
	color: #9D9D9D;
	font-size: 10px;
}

.comment-text-input {
	width: 100%;
	border-radius: 4px;
	padding: 0px 5px 2px;
}
