.comment-icon {
	width: 10px;
	height: 10px;
	background: red;
}

.comment-icon-wrapper {
	position: absolute;
	right: 0;
	top: 0;

}

.comment-modal {
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background: white;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #A4AFB7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}
